@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900);

* {
    margin: 0px;
    padding: 0px;
}


/*== typography ==*/


/*
@font-face {
   font-family: 'Avenir';
   src: url(fonts/Avenir.ttc);
}

@font-face {
   font-family: 'Didot';
   src: url(fonts/Didot.ttc);
}
*/

body {
    font-family: 'Work Sans', 'Arial', sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
}

h1,
h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    letter-spacing: 1px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h4 {
    font-weight: 200;
}

h6 {
    font-size: 10px;
    font-weight: 500;
}

a {
    text-decoration: none;
}

.button {
    color: #979797;
    background-color: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 10px;
    border: solid;
    display: inline-block;
    border-width: 0.5px;
    border-radius: 2px;
    text-decoration: none;
}


/*== colors ==*/

body {
    background-color: #FFFFFF;
    color: #17191C;
}

header p {
    color: #757a83;
    line-height: 21px;
}

nav a,
footer a {
    text-decoration: none;
    color: #17191C;
}


/*== backgrounds ==*/

.work {
    height: 272px;
    position: relative;
}

#asi {
    background-image: url('/Media/asi.png');
    background-size: cover;
    background-position: center;
}

#sort {
    background-image: url('/media/stopthinksort.png');
    background-size: cover;
    background-position: center;
}

#bokashi {
    background-image: url('/media/bokashi2.png');
    background-size: cover;
    background-position: center;
}

#nets {
    background-image: url('/media/nothing_but_nets.png');
    background-size: cover;
    background-position: center;
}

#mwd {
    background-image: url('/media/mwd_bag.png');
    background-size: cover;
    background-position: center;
}

#oats {
    background-image: url('/media/oats.png');
    background-size: cover;
    background-position: center;
}

#terrarium {
    background-image: url('/media/terrarium.png');
    background-size: cover;
    background-position: center;
}

#rand {
    background-image: url('/media/rand3.png');
    background-size: cover;
    background-position: center;
}

#misc {
    background-image: url('/media/floral_print.png');
    background-size: cover;
    background-position: center;
}

/*== positioning ==*/

nav li,
footer li {
    list-style: none;
    display: inline;
    letter-spacing: 0.5px;
    text-transform: lowercase;
    padding-left: 20px;
}

nav ul {
    text-align: right;
}

header {
    margin-left: 50px;
    margin-right: 50px;
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

footer li {
    float: right;
}

#about {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    text-align: center;
}

#about p{
    text-align: left;
}

#connect {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.proj-process {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
 
}

.process-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*== extras ==*/

.fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 60px;
    background-color: #FFFFFF;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.bio-img {
    margin-top: -200px;
    padding
}


/*== margin sizes (btm, top) ==*/

.mrg-btm-lg {
    margin-bottom: 100px;
}

.mrg-btm-md {
    margin-bottom: 50px;
}

.mrg-btm-sm {
    margin-bottom: 25px;
}

.mrg-btm-xsm {
    margin-bottom: 10px;
}

.mrg-top-xxlg {
    margin-top: 300px;
}

.mrg-top-xlg {
    margin-top: 200px;
}

.mrg-top-lg {
    margin-top: 100px;
}

.mrg-top-md {
    margin-top: 50px;
}

.mrg-top-sm {
    margin-top: 25px;
}

.mrg-top-xsm {
    margin-top: 10px;
}


/*== grid ==*/

* {
    box-sizing: border-box;
}

.one-whole {
    width: 100%;
}

.one-half {
    width: 50%;
}

.one-third {
    width: 33%;
}

.one-fourth {
    width: 25%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
}

.container {
    width: 955px;
    margin: auto;
}


/*== Pseudo classes ==*/

#nav a:hover {
    color: #344050;
}

.proj-info {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    color: #ffffff;
    background-color: rgba(20, 22, 24, 0.9);
    opacity: 0;
    transition: all 0.5s;
    padding-top: 25%;
    text-align: center;
}

.proj-info:hover {
    opacity: 1;
}


/*== responsive ==*/

.menu {
    text-align: right;
    padding-top: 0px;
    padding-right: 5px;
    color: #ffffff;
}


/*
.proj-info {
    padding-top: 50%; for med
    padding-top: 75%; for small devices
    */