/*== Responsive ==*/

/*== Smartphone/ Mobile ==*/

@media only screen and (max-width: 480px) {
    .container {
        width: inherit;
    }
    #nav-items {
        display: none;
    }
/*
    .one-third{
    	width: 100%;
    }
*/
   
}

/*== Tablets ==*/

@media only screen and (min-width: 480px) and (max-width: 800px) {
    .container {
        width: inherit;
    }
    #nav-items {
        display: none;
    }
    
/*
    .one-third{
    	width:50%;
    }
*/
}

/*== Desktops ==*/

@media only screen and (min-width: 801px) {
    .container {
        width: inherit;
    }
    .button-square {
        display:none;
    }
    
}