/*== Responsive ==*/


/*== Smartphone/ Mobile ==*/

@media only screen and (max-width: 480px) {
    .container {
        width: inherit;
    }
    #nav-items {
        display: none;
    }
/*
    #slide-menu {
        display: none;
    }
*/
    nav {
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    footer {
        padding-top: 20px;
        padding-bottom: 20px;
        margin-left: 12px;
        margin-right: 12px;
    }
    .one-half {
        width: 100%;
    }
    .one-third {
        width: 100%;
    }
     .two-thirds {
        width: 100%;
    }
    .mrg-btm-lg {
        margin-bottom: 10px;
    }
    .about-main {
        margin-left: 10px;
        margin-right: 10px;
    }
    header {
        margin-left: 10px;
        margin-right: 10px;
    }
    .header-name {
        position: fixed;
        
    }
    header .mrg-top-lg {
        margin-top: 10px;
    }
    /*
    .one-third{
    	width: 100%;
    }
*/
}


/*== Tablets ==*/

@media only screen and (min-width: 480px) and (max-width: 800px) {
    .container {
        width: inherit;
    }
    #nav-items {
        display: none;
    }
    nav {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    footer {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .about-main {
        display: block;
        margin-left: 50px;
        margin-right: 50px;
    }
    header {
        margin-left: 50px;
        margin-right: 50px;
    }
    /*
    .one-third{
    	width:50%;
    }
*/
}


/*== Desktops ==*/

@media only screen and (min-width: 801px) {
    .container {
        width: inherit;
    }
    .icon-nav, .button-square {
        display: none;
    }
    .slide-content, #slide-nav-items {
        display: none;
    }
}