/*== Responsive ==*/


/*== Smartphone/ Mobile ==*/

@media only screen and (max-width: 480px) {
    .container {
        width: inherit;
    }
    #nav-items {
        display: none;
    }
    /*
    body {
        font-size: 0.8em;
    }
*/
    body p {
        line-height: 21px;
    }
    nav {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    footer {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .one-half {
        width: 100%;
    }
    .one-third {
        width: 100%;
    }
    .two-thirds {
        width: 100%;
    }
    .mrg-btm-sm {
        margin-bottom: 5px;
    }
    .mrg-btm-md {
        margin-bottom: 10px;
    }
    .mrg-btm-lg {
        margin-bottom: 15px;
    }
    .about-main {
        margin-left: 10px;
        margin-right: 10px;
    }
    header {
        margin-left: 10px;
        margin-right: 10px;
    }
    header p,
    .about-description {
        line-height: 21px;
    }
    .header-name {
        position: fixed;
    }
    header .mrg-top-lg {
        margin-top: 10px;
    }
    .fa-angle-up {
        display: none;
    }
    #social-links {
        display: none;
    }
    iframe {
        width: 300px;
        height: auto;
    }
    .pad-right img {
        padding-right: 0px;
    }
    .pad-left img {
        padding-left: 0px;
    }
    .pad-mid img {
        padding-left: 0px;
        padding-right: 0px;
    }
    .proj-info:hover {
        opacity: 0;
    }
}


/*== Tablets ==*/

@media only screen and (min-width: 480px) and (max-width: 800px) {
    .container {
        width: inherit;
    }
    #nav-items {
        display: none;
    }
    nav {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    footer {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .about-main {
        display: block;
        margin-left: 50px;
        margin-right: 50px;
    }
    header {
        margin-left: 50px;
        margin-right: 50px;
    }
    .one-half {
        width: 100%;
    }
    .one-third {
        width: 100%;
    }
    .two-thirds {
        width: 100%;
    }
    .mrg-btm-sm {
        margin-bottom: 5px;
    }
    .mrg-btm-md {
        margin-bottom: 10px;
    }
    .mrg-btm-lg {
        margin-bottom: 15px;
    }
    .header-name {
        position: fixed;
    }
    .fa-angle-up {
        display: none;
    }
    #social-links {
        display: none;
    }
    iframe {
        width: 300px;
        height: auto;
    }
    .pad-right img {
        padding-right: 0px;
    }
    .pad-left img {
        padding-left: 0px;
    }
    .pad-mid img {
        padding-left: 0px;
        padding-right: 0px;
    }
}


/*== Desktops ==*/

@media only screen and (min-width: 801px) {
    .container {
        width: inherit;
    }
    .icon-nav,
    .button-square {
        display: none;
    }
    .slide-content,
    #slide-nav-items {
        display: none;
    }
}