@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900);

@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,400,600);

/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);*/

@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,700';

* {
    margin: 0px;
    padding: 0px;
}


/*== typography ==*/

body {
    font-family: 'Work Sans', 'Arial', sans-serif;
    font-size: 1em;
    letter-spacing: 0.5px;
}

h1,
h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    letter-spacing: 1px;
}

h1 {
    font-size: 34px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
    font-weight: 600;
}

a {
    text-decoration: none;
}

.button {
    color: #17191C;
    background-color: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 10px;
    border: solid;
    display: inline-block;
    border-width: 0.5px;
    border-radius: 2px;
    text-decoration: none;
    margin-right: 20px;
}

footer{
    font-size: 0.75em;
}

/*== colors ==*/

body {
    background-color: #FFFFFF;
    color: #17191C;
}

p{
   color: #757a83;    
}

header p {
    color: #757a83;
    line-height: 21px;
}

.proj-info p{
    color: #ffffff;
}

nav a,
footer a,
footer p {
    text-decoration: none;
    color: #17191C;
}



/*== backgrounds ==*/

.work {
    height: 272px;
    position: relative;
}

#asi {
    background-image: url('media/asi3.jpg');
    background-size: cover;
    background-position: center;
}

#bike {
    background-image: url('media/bikes.png');
    background-size: cover;
    background-position: center;
}

#sort {
    background-image: url('media/stopthinksort.png');
    background-size: cover;
    background-position: center;
}

#bokashi {
    background-image: url('media/bokashi2.png');
    background-size: cover;
    background-position: center;
}

#hummingbird {
    background-image: url('media/postcard_mockup_home2.svg');
    background-size: cover;
    background-position: center;
}

#nets {
    background-image: url('media/nothing_but_nets.png');
    background-size: cover;
    background-position: center;
}

#mwd {
    background-image: url('media/mwd_bag.png');
    background-size: cover;
    background-position: center;
}

#oats {
    background-image: url('media/goodoat_bus_sys.svg');
    background-size: cover;
    background-position: center;
}

#terrarium {
    background-image: url('media/terrarium.png');
    background-size: cover;
    background-position: center;
}

#type-posters {
    background-image: url('media/type3b_home2.svg');
    background-size: cover;
    background-position: center;
}

#rand {
    background-image: url('media/rand3.png');
    background-size: cover;
    background-position: center;
}

#misc {
    background-image: url('media/floral_print.png');
    background-size: cover;
    background-position: center;
}

/*== positioning ==*/

nav li,
footer li {
    list-style: none;
    display: inline-block;
    letter-spacing: 0.5px;
    text-transform: lowercase;
    padding-left: 20px;
}

nav ul {
    text-align: right;
}



header {
    margin-left: 50px;
    margin-right: 50px;
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

footer li {
    float: right;
}

#connect {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/*
.proj-process {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}
*/

/*
p.proj-description {
    width: 700px;
}
*/

img {
    width: 100%;
    height: auto;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
 
}

.process-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#bio {
    margin-left: -200px;
    width: 100%;
}

.about-main {
    display: block;
    margin-left: 50px;
    margin-right: 50px;  
}

.main-content img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main-content {
    display: block;
    margin-left: auto;
    margin-right: auto;
}



/*== extras ==*/

.fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 60px;
    background-color: #FFFFFF;
/*
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
*/
}

nav {
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 60px;
    background-color: #FFFFFF;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}



.back-to-top {
    background: none;
    margin: 0;
    position: fixed;
    bottom: 50px;
    right: 0;
    width: 70px;
    height: 70px;
    z-index: 1000;
    display: none;
    text-decoration: none;
    color: #757a83;
/*    background-color: #ff9000;*/
 }
 
.back-to-top i {
    font-size: 60px;
}

.back-to-top:hover {
    color:#cfaf8f;
}




/*== gif ==*/
/*
.container{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
}
*/

/*== hide show name ==*/

.hideme {
    display: none;
    position: fixed;
}

/*== margin sizes (btm, top) ==*/

.mrg-btm-lg {
    margin-bottom: 100px;
}

.mrg-btm-md {
    margin-bottom: 50px;
}

.mrg-btm-sm {
    margin-bottom: 25px;
}

.mrg-btm-xsm {
    margin-bottom: 10px;
}

.mrg-top-xxlg {
    margin-top: 300px;
}

.mrg-top-xlg {
    margin-top: 200px;
}

.mrg-top-lg {
    margin-top: 100px;
}

.mrg-top-md {
    margin-top: 50px;
}

.mrg-top-sm {
    margin-top: 25px;
}

.mrg-top-xsm {
    margin-top: 10px;
}


.long-title {
    max-width: 300px;
}

/*== grid ==*/

* {
    box-sizing: border-box;
}

.one-whole {
    width: 100%;
}

.one-half {
    width: 50%;
}

.one-third {
    width: 33%;
}

.one-fourth {
    width: 25%;
}

.two-thirds {
    width: 66%;
}

.three-fourths {
    width: 75%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
}

.column2 {
    float: right;
}

.container {
    width: 1000px;
    margin: auto;
}


/*== Pseudo classes ==*/

#nav a:hover {
    color: #344050;
}

.proj-info {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    color: #ffffff;
    background-color: rgba(20, 22, 24, 0.9);
    opacity: 0;
    transition: all 0.5s;
    padding-top: 25%;
    text-align: center;
}

.proj-info:hover {
    opacity: 1;
}

/*==
ul li a:hover {
    color: #cfaf8f;
    border-bottom: 1px solid #000;
    padding-bottom: 3px;
}
==*/

ul li a:hover {
    color: #cfaf8f;
}

p a {
    color: #000;
}
p a:hover {
    color: #cfaf8f;
}

.button:hover {
    color: #cfaf8f;
}

/*== responsive ==*/

.menu {
    text-align: right;
    padding-top: 0px;
    padding-right: 5px;
    color: #ffffff;
}


/*
.proj-info {
    padding-top: 50%; for med
    padding-top: 75%; for small devices
    */

/*== animated button menu ==*/
/* Button */ 

.button-square  {
font-size: 20px; 
color: #000000; 
line-height: 36px; 
text-align: center; 
background: transparent; 
display: inline-block; 
width: 36px; 
height: 36px; 
cursor: pointer; 
padding: 0px; 
float: right;
margin: 0 0px; 
}

/* Icons */ 

.icon-box-toggle  {
height: 100%;
width: 100%; 
background: tranparent; 
position: relative;
display: block; 
}

.icon-line-center {
position: absolute; 
width: 20px; 
height: 3px; 
background: #000000; 
margin: -1.5px 0 0 -10px;
left: 50%;
top: 50%; 

-webkit-transition: all .2s ease ;
	-moz-transition: all .2s ease ;
	-o-transition: all .2s ease ;
    transition: all .2s ease ;	
}

.icon-line-top {
position: absolute; 
width: 20px; 
height: 3px; 
background: #000000; 
margin: -3px 0 0 -10px;
left: 50%;
top: 40%; 
-webkit-transition: all .2s ease ;
	-moz-transition: all .2s ease ;
	-o-transition: all .2s ease ;
    transition: all .2s ease ;	
}

.icon-line-bottom {
position: absolute; 
width: 20px; 
height: 3px; 
background: #000000; 
margin: 1.5px 0 0 -10px;
left: 50%;
top: 60%; 
-webkit-transition: all .2s ease ;
	-moz-transition: all .2s ease ;
	-o-transition: all .2s ease ;
    transition: all .2s ease ;	
}

/* Effect 4  */

.ef-4.active > span.rotate {

/*transform*/
-webkit-transform: rotate(90deg);
   -moz-transform:translate(0px, 0px) rotate(90deg);
    -ms-transform:translate(0px, 0px) rotate(90deg);
     -o-transform:translate(0px, 0px) rotate(90deg);
        transform:translate(0px, 0px) rotate(90deg);
}


.ef-4.active > span > i.icon-line-center{
visibility: hidden; 
width: 1px; 
height: 3px; 
left: 70%;
}

.ef-4.active > span > i.icon-line-bottom {
margin: -1.5px 0 0 -10px;
left: 50%;
top: 50%; 
/*transform*/
-webkit-transform: rotate(135deg);
   -moz-transform:translate(0px, 0px) rotate(135deg);
    -ms-transform:translate(0px, 0px) rotate(135deg);
     -o-transform:translate(0px, 0px) rotate(135deg);
        transform:translate(0px, 0px) rotate(135deg);
}
.ef-4.active  > span > i.icon-line-top {
margin: -1.5px 0 0 -10px;
left: 50%;
top: 50%; 
/*transform*/
-webkit-transform: rotate(45deg);
   -moz-transform:translate(0px, 0px) rotate(45deg);
    -ms-transform:translate(0px, 0px) rotate(45deg);
     -o-transform:translate(0px, 0px) rotate(45deg);
        transform:translate(0px, 0px) rotate(45deg);
	
}
